# Unity生成ファイル（バージョン管理不要）
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# VisualStudio
.vs/
*.csproj
*.sln

# OS
.DS_Store
Thumbs.db

# JetBrains
.idea/
*.user

# シェーダーのコンパイル済みキャッシュ
ShaderCache/
